.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEF9BF;
    flex-direction: column;
}
.titulo > h1 {
    margin-top: 40px;
    margin-bottom: 71px;
    font-size: 56px;
    color: #75B79E;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cartas {
    width: 117px;
    height: 146px;
    position: relative;
    margin-bottom: 80px;
    margin-right: 51px;
  }

  .frente-carta {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    background-image: url("/Projeto_04_parrotsCardGame/images/front.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 10px;
  }
  .conteudo-carta{
        width: 117px;
        height: 146px;
        background-color: #A7E9AF;
        border-radius: 10px;
        box-shadow: 1px 1px 1px rgba(0,0,0,.3);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        backface-visibility: hidden;
        transition: all .5s;
        transform-style: preserve-3d;
  }

  .conteudo-carta {
    transform: rotateY(180deg);
  }

  .cartas:active .conteudo-carta {
    transform: rotateY(0deg);
  }

  .cartas:active .frente-carta {
    transform: rotateY(-180deg);
  }

.gif{
    width: 100px;
    height: 100px;
}
@media (max-width: 414px){
  ul {
    flex-direction: column;
  }
  .titulo > h1 {
    font-size: 36px;
  }
}